{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Insert the city name below</legend>
				<div class="form-group">
					{{ form.cityname.label(class="form-control-label") }}
					{% if form.cityname.errors %}
						{{ form.cityname(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.cityname.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.cityname(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.submit(class="btn btn-outline-info") }}
				</div>
			</fieldset>
		</form>
	</div>
{% endblock content %}